body{
    background-color:rgb(69, 133, 85);
    width: auto;
    height: auto;
    overflow-x: hidden;
}

/* Stile predefinito dell'area */

/* Stile durante l'hover sull'area */
path:hover {
    fill: #d11414; /* Colore di riempimento durante l'hover */
}

path{
  fill:aqua;
}

svg{
  width: 500px;
  height: 500px;
  position:relative;
  margin-left:200px;
}

.info-box {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border: 1px solid #ccc;
    display: none;
}

.old-info-box{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border: 1px solid #ccc;
  display: none;
  right:10px;
}
/* Mostra il div con le informazioni durante l'hover */
path:hover , .info-box, .old-info-box {
    display: block;
}

#popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #000;
  z-index: 999;
}

path{
  stroke:black;
  stroke-width: 2.5px;
}


#zoom-pan-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: grab; /* Cambia il cursore quando il mouse è sopra il contenitore */
  }

  /* Stile per la scala e posizione di visualizzazione che verranno modificati dinamicamente */
  #zoom-pan-content {
    transition: transform 0.2s ease;
    transform-origin: 0 0;
    cursor: grab; /* Cambia il cursore quando il mouse è sopra il contenuto */
  }

  /* Aggiunge uno stile di grab durante il trascinamento */
  #zoom-pan-content.grabbing {
    cursor: grabbing;
  }